
body{margin-left:50px;background-image:url(bgr.jpeg);
/**setting background**/
background-size: cover;
    background-position: center;
font-family:sans-serif;}

/**logo**/
#logo img{height:120px;width:150px;border:2px solid white;box-shadow:0px 0px 4px 6px;margin:0px 500px;border-radius:50%;}


/**main content**/
main{width:70%;display:inline-block;}
main .div{height:80px;width:40%;background-color:white;margin-bottom:20px;padding:10px 0px 10px 10px;
}
#choosefabric .div img{height:50px;width:50px;
}
main h2{text-decoration:underline;font-style:italic;}
main h2,h3{font-weight:bold;}
main h2:hover,main h3:hover{text-decoration:underline;
} 

/**aside **/   
aside{width:20%;display:inline-block;vertical-align:top;}
aside div img{height:300px;width:350px;}
aside div{width:350px; ;border:2px solid black;padding:5px;background-color:#f1f1f1;}
aside div h3{color:red;}

/**navigation**/
#nav a button{height:50px;width:150px;background-color:pink;color:black;font-weight:bold;}