header{background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG9TewfiQ8UeErKoovLAMAmvhYCivjPAfPOg&usqp=CAU');color:white;height:65vh;
background-size:cover;word-spacing:50px;}
div{background-color:black;height:10%;
}


